/*---- RESET ---- */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        

    }
/* ---- /RESET ---- */

/* ---- GRID ---- */
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: 90px;
    }

    .row > * {
        padding: 0 10px;
    }

    .col-33 {
        width: calc(100% / 3);
    }

    .col-grow {
        flex-grow: 1;
    }

/* ----/GRID---- */


/* ----GENERAL---- */
    .container {
        width: 100vw;
        margin: auto;

    }

    body {
      background-color: black;
    }


    i {
        color: #fff;
    }

/* ----/GENERAL---- */


/* ----HEADER---- */
    .navbar {
        justify-content: flex-end;
        display: flex;
        gap: 10px;
        margin-top: 8px;
        

    }
    .btn{
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;

    }
    .speakview {
        background-color: #4a4a4a;
        color: #fff;
        padding: 2px;
        border-radius: 5px;
    }

    .spakview-maxemize{
        background-color: #4a4a4a;
        color: #fff;
        padding: 2px;
        border-radius: 5px;
      
  
       

    }
    


/*----/HEADER----*

/*---- MAIN----*/
    .main-view {
        width: calc(100vw - 160px);
        height: calc(100vh - 160px);
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 50px;
    
   
        
    }

   

    .box-view {
        position: relative;
        margin: 2px;
      
    }

    .box-text {
        position: absolute;
        display: flex;
        bottom: 10px;
        left: 0px;
    }

   .mic-background{
        background-color: #4a4a4a;
        opacity: 0.5;
   }
/*---- /MAIN ----*/

/* ----FOOTER---- */
.nav-footer {
    padding: 200px;
    background-color:#222222 ;
}

/* ----/FOOTER---- */